use flake

# tools
export TAVILY_API_KEY=$(gopass show api/tavily/api-key)
export FMP_API_KEY=$(gopass show api/fmp/api-key)

# llm
export OPENAI_API_KEY=$(gopass show llm/openai/general-api-key)
export ANTHROPIC_API_KEY=$(gopass show llm/anthropic/claude-general-key)

# langchain
export LANGSMITH_API_KEY=$(gopass show api/langchain/api-key)
export LANGSMITH_TRACING=true
export LANGSMITH_PROJECT=deep_research_from_scratch
